#= require jquery/jquery-1.6.1.min
#= require sproutcore/sproutcore-2.0.beta.3.min

#= require_self
#= require_tree ./models
#= require_tree ./controllers
#= require_tree ./templates
#= require_tree ./views

window.<%= name %> = SC.Application.create()
