#= require jquery/jquery-1.6.1.min
#= require ember/ember-0.9.min

#= require_self
#= require_tree ./models
#= require_tree ./controllers
#= require_tree ./templates
#= require_tree ./views

window.<%= name %> = Ember.Application.create()
